<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/styleDashboard.css" rel="stylesheet">
    <link href="css/promptStyle.css" rel="stylesheet" />

</head>

<body>

    <!-- Navbar Start -->
    <nav style="background-color: #1d272e !important;"
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <a href="/"  class="navbar-brand ms-4 ms-lg-0">
        <h1 style="color: #ffffff !important;" class="text-primary m-0">PoseGen
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler me-4"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/" class="nav-item nav-link active" style="color: #b78d65 !important;" >Home</a>
        </div>
        <a href="/dashboard" class="btn btn-primary py-2 px-4 d-none d-lg-block"
          >Dashboard</a
        >
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Dashboard</h4>
                <h1 class="display-5 mb-4">Building blocks of innovation, simple solutions for recommend the suitable pose and generate the poses.
                </h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-2.png" alt="Icon">
                            <h3 class="mb-3">Pose Extraction</h3>
                            <p class="mb-4">Identifying and locating positions such as head, shoulders, wrists, knees, ankles, hands, feet, and other vital body joints using computer vision and deep learning techniques.These points enable understanding and representation of human body poses for applications like gesture recognition and fitness tracking.</p>
                            <a class="btn" href="/prompt-and-img"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/ai.png" alt="Icon">
                            <h3 class="mb-3">Text to Image conversion</h3>
                            <p class="mb-4">AI interprets textual prompts, generating images portraying a boy seated in a car or engaged in exercises.

                                Deep learning algorithms transform descriptive prompts into visual content, offering applications in creative design, storytelling, or virtual scene generation.</p>
                            <a class="btn" href="/prompt-to-img"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/image.png" alt="Icon">
                            <h3 class="mb-3">Image to Image</h3>
                            <p class="mb-4">Computer vision algorithms, like pose estimation models, analyze an input image, detecting key body points such as joints, limbs, and posture.The output image visually represents the inferred pose, providing valuable information for applications such as fitness tracking, gesture recognition, or augmented reality.
                            </p>
                            <a class="btn" href="/prompt-and-img"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-3.png" alt="Icon">
                            <h3 class="mb-3">Personal Recommendation</h3>
                            <p class="mb-4">
                                Personal recommendations are like suggestions that are specially picked just for you, considering what you like or do. These suggestions get better as you use or choose more things, making them more suited to your preferences.
                            </p>
                            <a class="btn" href="/reccommendation"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-6.png" alt="Icon">
                            <h3 class="mb-3">Result Visulization in <br><b>POSEGEN</b></h3>
                            <p class="mb-4">Result visualization involves displaying information, often through charts or graphs, to help people easily see and comprehend the outcomes of a process or analysis.By using visual aids, like diagrams or charts, result visualization enhances the clarity and accessibility of information, making it simpler for individuals to interpret and make informed decisions.
                            </p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Footer Start -->
    <div id="copyright">
        <ul style="color:#1d272e"><li>&copy; 2024 PoseGen</li>
          <li>Designed and Developed by <span style="color: tomato;">TechCreed</span> During the Hackathon of <span style="color: red;">CodeRed'24 Hack</span></li>
          </ul>
          
          <ul style="margin-top: 24px;"><li><a style="text-decoration: none;color: purple;" href="https://github.com/tech-creed/PoseGen-CodeRed-24">Github</a> </li></ul>
      
        </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/mainDashboard.js"></script>
    <script src="js/promptMain.js"></script>

</body>

</html>