<!DOCTYPE HTML>
<html>
	<head>
		<title>PoseGen | Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/style.css" />
		<noscript><link rel="stylesheet" href="/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>PoseGenX</h1>
						<p>“Your Personalized
							AI-Powered Pose
							Recommendation System”
							</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">POSEGENX</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="generic.html">Generic Page</a></li>
							<li><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">≿━━━━༺❀༻━━━━≾</span>
									<h2>Pose Recommendation System</h2>
									<p>An application that powered by AI (Deep Learning) recommends and generates poses based on
										user and environmental constraints . The system classifies the suitable environment and outfits based on the image background
										analysis or prompt analysis (user preferences).</p>
								</header>
								<a href="#" class="image main"><img src="/img/pose1.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">Full Story</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>Generate a Pose using text input</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/text.jpg" alt="" /></a>
									<p>Welcome to our Pose Recommendation System! Feel free to input your preferences through TEXT by describing the pose you have in mind.</p>
									<ul class="actions special">
										<li><a href="#" class="button">upload</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>generate a Pose using Image input</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/image.jpg" alt="" /></a>
									<p>Welcome to our Pose Recommendation System! Feel free to input your preferences  simply upload an IMAGE to receive personalized pose recommendations.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Upload</a></li>
									</ul>
								</article>
							</section>
							<h1 style="text-align: center;">Features</h1>
							<section class="posts">
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>Real-time Guidance</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/guidance.png" alt="" /></a>
									<p>Live pose adjustments: Providing real-time feedback or guidance to help users adjust their poses for optimal results.</p>
								</article>
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>Safety Guidelines</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/safty.png" alt="" /></a>
									<p>Providing safety instructions: Ensuring that recommended poses are safe and providing guidelines to prevent injuries, especially in activities like fitness or yoga.</p>
								</article>
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>Customization</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/customization.jpg" alt="" /></a>
									<p>Adjustable parameters: Allowing users to customize recommendations based on factors like skill level, flexibility, or personal preferences.</p>
								</article>
								<article>
									<header>
										<span class="date">≿━━━━༺❀༻━━━━≾</span>
										<h2>Pose Recognition</h2>
									</header>
									<a href="#" class="image fit"><img src="/img/pose rec.jpg" alt="" /></a>
									<p>Pose detection algorithms: Using computer vision or machine learning techniques to recognize and analyze poses based on images or videos.</p>
								</article>
								</section>

						<!-- Footer -->
							

					</div>

				<!-- Footer -->

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; TechCreed</li>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/jquery.min.js"></script>
			<script src="/jquery.scrollex.min.js"></script>
			<script src="/jquery.scrolly.min.js"></script>
			<script src="/browser.min.js"></script>
			<script src="/breakpoints.min.js"></script>
			<script src="/util.js"></script>
			<script src="/main.js"></script>

	</body>
</html>