<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="Images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Poppins:300,400,500,600,700,900|Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="indicator login">Profile Update</div>
            </div>
        </div>
        <div class="slider">
            <div class="form-container">
                <form action="/auth/profile-update" method="post" class="loginForm">
                    <div class="input_container">
                        <div class="formHeading">Profile Update</div>

                        <input type="text" value="<%=email%>" name="email" hidden readonly>
                        <input type="text" class="inputs" name="gender" id="gender" placeholder="Gender">
                        <div class="sUserNameDetails details"></div>
                        <input type="text" class="inputs" name="age" id="age" placeholder="Age">
                        <div class="sEmailDetails details"></div>
                        <input type="text" class="inputs" name="interest" id="interest" placeholder="Interest (comma separated)">
                        <button type="submit" class="sub">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/auth.js"></script>

    
</body>
</html>
